.card-list {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: scroll; 
    gap: 20px;
    letter-spacing: .7px;
    overflow-y: scroll;
    height: 120px;
}

.card-list::-webkit-scrollbar{
    display: none;
}