.input-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}

.input-wrapper input{
    height: 25px;
    width: 20rem;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 15px;
    font-size: 18px;
}

.btn1 {
    border: none;
    padding: 10px 22px;
    height: 34px;
    border-radius: 15px;
    margin-top: 15px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}


@media (max-width: 576px) { 
    .input-wrapper {
        display: flex;
        flex-direction: column;
        
    }
    
    .input-wrapper input{
        height: 25px;
        width: 32rem;
        margin-top: 20px;
        border: 1px solid black;
    }
    
    .btn1 {
        font-size: 17px;
        letter-spacing: 1px;

    }
}

@media (min-width: 769px) and (max-width: 992px){
    .input-wrapper {
        display: flex;
        gap: 30px;
        margin: 0 25px;
    }
}